.nav * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.MuiContainer-root{
    padding: 20px;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 56px;
    font-size: 14px;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    color: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    background: transparent
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333;
    background: #fff;
    overflow-x: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

a:active {
    color: #ea4c89;
    text-decoration: none;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease
}

a:hover {
    text-decoration: none;
    color: #f082ac;
    cursor: pointer;
}

a:active, a:visited, a, a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

button[type='submit'],
input[type='submit'] {
    cursor: pointer
}

::-moz-selection {
    color: #fff;
    color: rgba(255, 255, 255, 0.85);
    background: #ea4c89
}

::selection {
    color: #fff;
    color: rgba(255, 255, 255, 0.85);
    background: #ea4c89
}

.lazyload {
    display: block
}

sup {
    vertical-align: super;
    font-size: smaller;
    font-weight: 500;
    color: #333
}

h1 {
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px
}

h2 {
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px
}

h3 {
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px
}

h4 {
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px
}

h5 {
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px
}

hide {
    display: none
}

.invisible {
    opacity: 0
}

.hidden {
    visibility: hidden
}

a img {
    border: none
}

.noscroll {
    overflow-x: hidden;
    overflow-y: hidden
}

h1 span.badge,
span.badge {
    padding: 1px 3px;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    background: #ccc;
    border-radius: 3px
}